@model ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="PageHeader1 paddingBottom10">Change Password</h1>
</div>
<section class="paddingBottom40">
    <div class="container">
        <aside id="messageContainer" class="row paddingTop20">
            @if (!string.IsNullOrWhiteSpace(Model.Message))
            {
                <section class="col-xs-12">
                    <div class='@(Model.Success ? "alert alert-success size15" : "alert alert-danger size15")'>
                        <span> @Model.Message</span>
                    </div>
                </section>
            }
        </aside>
        <aside class="row paddingTop20">
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "changePasswordForm" }))
            {
                @Html.AntiForgeryToken()

                <section class="col-xs-4 paddingBottom20">
                    @Html.DisplayNameFor(m => m.OldPassword)
                    @(Html.Kendo().TextBoxFor(m => m.OldPassword).HtmlAttributes(new { type = "password", @class = "form-control password" }))
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </section><br clear="all">
                <section class="col-xs-4 paddingBottom20">
                    @Html.DisplayNameFor(m => m.NewPassword)
                    @(Html.Kendo().TextBoxFor(m => m.NewPassword).HtmlAttributes(new { type = "password", @class = "form-control password" }))
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </section>
                <section class="col-xs-4 paddingBottom20">
                    @Html.DisplayNameFor(m => m.ConfirmPassword)
                    @(Html.Kendo().TextBoxFor(m => m.ConfirmPassword).HtmlAttributes(new { type = "password", @class = "form-control password" }))
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </section><br clear="all">
                <section class="col-xs-12 paddingBottom20">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        @Html.ValidationMessage("InvalidCredentials", new { id = "validationMessage" })
                    }
                </section>
                <section class="col-xs-12 paddingBottom20">
                    @(Html.Kendo().Button().Name("ChangePassword").HtmlAttributes(new { type = "submit", @class = "pull-left" }).Content("Change"))
                </section>
            }
        </aside>
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $("#messageContainer").find(".alert").delay(10000).slideUp("slow", function () { $(this).remove(); });
    });
</script>