@model ForgotPasswordViewModel

@{
    ViewBag.Title = "Forgot your password?";
}

<section id="Forgot" class="col-xs-12">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPasswordForm", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group col-xs-12 loginFormHeader">
            <section class="paddingBottom20 text-left">
                Forgot Password?
            </section>
        </div>
        <div class="form-group col-xs-12 paddingBottom20 text-left">
            @Html.DisplayNameFor(m => m.Email)
            @(Html.Kendo().TextBoxFor(m => m.Email).HtmlAttributes(new { @class = "form-control" }))
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group col-xs-12 text-right paddingBottom20">
            @(Html.Kendo().Button().Name("ForgotPassword").HtmlAttributes(new { type = "submit", @class = "pull-right", id = "btnSubmit" }).Content("Submit"))
        </div>
        <div id="messageContainer" class="form-group col-xs-12 text-center paddingBottom20">
            @if (!ViewData.ModelState.IsValid)
            {
                <span>
                    @Html.ValidationMessage("InvalidUser", new { id = "validationMessage" })
                </span>
            }
        </div>

        <div class="form-group col-xs-12 loginFormFooter">
            @Html.ActionLink("Click here", "Login", "Account", null, new { Area = string.Empty, id = "lnkLogin", @class = "#0080ff" }) to Login
        </div>
    }

    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").on("click", function (e) {

                e.preventDefault();
                $("#forgotPasswordForm").validate();

                if ($("#forgotPasswordForm").valid()) {
                    var formData = JSON.stringify($("#forgotPasswordForm").serializeObject());
                    var response = ProcessAjaxRequest(PageNavigationUrl.Account.ForgotPassword, HttpRequestMethod.POST, HttpRequestDataType.HTML, HttpRequestContentType.JSON, formData, null);
                    if (response) {
                        var forgotPasswordContainer = $("body #ForgotPasswordContainer");

                        if (forgotPasswordContainer.length > 0) {
                            $(forgotPasswordContainer).empty().html(response);

                            if ($("#forgotPasswordForm").length > 0) {
                                $.validator.unobtrusive.parse($("#forgotPasswordForm form:first"));
                                $("#forgotPasswordForm form:first").validate(); // start validating

                                if ($("#messageContainer span").length > 0) {
                                    $("#messageContainer span").delay(10000).fadeOut("slow", function () { $(this).remove(); });
                                }
                            }
                            else {
                                $("#UserLogin, #Forgot").slideUp();
                                $("#Confirm").slideDown("fast");
                            }
                        }
                    }
                }
            });

            $("#lnkLogin").on("click", function (e) {
                e.preventDefault();

                $("#forgotPasswordForm").find("input.form-control").each(function () {
                    $(this).val("").clearErrors();
                    $(this).next("span").empty().clearErrors();
                });

                if ($("#forgotPasswordForm #validationMessage").lengt > 0) {
                    $("#forgotPasswordForm #validationMessage").empty().clearErrors();
                }

                $("#Confirm, #Forgot").slideUp();
                $("#UserLogin").slideDown("fast");
            });
        });
    </script>
</section>