@model ClaimManagementSystem.Models.PdfViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site/StyleSheets/Site.css" rel="stylesheet" type="text/css" />
    <title></title>
</head>
<body>
    <section>
        <div>
            <div style="font-family:Arial;font-size:8px;">
                @{
                    var imagePath = @Model.ImagePath;
                    var bgimgPath = @Model.BgImagePath;
                }
                <section>
                    <div>
                        <table>
                            <tr>
                                <td style="width:300px"><img src=@imagePath alt="DSB Claims" width="280px" height="70px" /></td>
                                <td style="width:30px"></td>
                                <td style="width:30px"></td>
                                <td style="align-content:flex-end;width:50px;">
                                    <div>
                                        <section>
                                            <label style="text-align-last:right;"><strong>DSB Claims Solutions</strong></label><br />
                                            <label style="text-align-last:right;">204 Main Street North</label><br />
                                            <label style="text-align-last:right;">Brampton, ON L6V 1P1</label><br />
                                            <label style="text-align-last:right;">Phone: 905 915 4683</label><br />
                                            <label style="text-align-last:right;">Fax: 905 915 4685</label>
                                        </section>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:300px">
                                    <section style="width:300px">
                                        <label><strong>@Model.CompanyName</strong></label> <br />
                                        <label>@Model.Street, @Model.City</label> <br />
                                        <label>@Model.CountryName, @Model.PostalCode</label> <br />
                                        <label style="width:100%"><strong>ATTENTION:</strong> @Model.ContactName</label>
                                    </section>
                                </td>
                                <td style="width:30px"></td>
                                <td style="width:30px"></td>
                                <td style="align-content:flex-end;width:50px;">
                                    <section>
                                        <label><strong>INVOICE #:</strong> </label>@Model.InvoiceNumber<br />
                                        <label><strong>INVOICE DATE:</strong> </label>@Model.InvoiceDate<br />
                                        <label><strong>INVOICE DUE DATE:</strong> </label>@Model.InvoiceDueDate
                                    </section>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table style="background-image:@bgimgPath">
                            <tr>
                                <td style="font-size:10px;"><strong>CLAIM INFORMATION</strong></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td width="50%" align="right"><label><strong>Insured :</strong></label></td>
                                <td>@Model.Insured</td>
                            </tr>
                            <tr>
                                <td width="50%" align="right"><label><strong>Insured Policy #:</strong></label> </td>
                                <td>@Model.InsuredPolicy</td>
                            </tr>
                            <tr>
                                <td width="50%" align="right"><label><strong>File #:</strong></label></td>
                                <td>@Model.FileNumber</td>
                            </tr>
                            <tr>
                                <td width="50%" align="right"><label><strong>Adjuster :</strong></label></td>
                                <td>@Model.Adjuster</td>
                            </tr>
                            <tr>
                                <td width="50%" align="right"><label><strong>Loss Date :</strong></label> </td>
                                <td>@Model.LostDate</td>
                            </tr>
                            <tr>
                                <td width="50%" align="right"><label><strong>Loss Unit :</strong></label></td>
                                <td>@Model.LostUnit</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <td style="font-size:10px;" ><strong>BILLABLE ITEMS</strong></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <table>
                            
                            <tr>
                                <td width="15%"><strong> ITEM </strong></td>
                                <td align="center" width="30%"><strong> DESCRIPTION </strong></td>
                                <td width="15%" align="right"><strong>QTY </strong></td>
                                <td width="15%" align="right"><strong>RATE </strong></td>
                                <td width="15%" align="right"><strong>PRICE </strong></td>
                            </tr>
                            
                            @foreach(var item in Model.BillingItems)
                            {
                                <tr>
                                    <td>@item.Item</td>
                                    <td>@item.Description</td>
                                    <td align="right">@item.Quantity</td>
                                    <td align="right">$ @item.Rate</td>
                                    <td align="right">$ @item.Price</td>
                                </tr>
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right"><strong>SubTotal :</strong> </td>
                                <td align="right">$ @Model.SubTotal</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right"><strong>Tax :</strong> </td>
                                <td align="right">$ @Model.Tax</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td align="right"><strong>Pay this amount :</strong> </td>
                                <td align="right">$ @Model.Total</td>
                            </tr>
                            
                        </table>
                    </div>
                </section>
            </div>


        </div>
    </section>
</body>
</html>



